/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --cover-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}
